/* BASE STYLES */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,.35);
}
h1 {
	font-size: 4.5em;
	margin: 0;
}
p {
	font-size: 1.2em;
	line-height: 1.5;
	width: 40%;
}

/* CALC STYLES */

.main-header {
	min-height: 550px;
	padding: 1.5em 0 0 2.5em;
	background: url('rock.png'), url('header-bg.jpg');
	background-repeat: no-repeat;
	background-position: calc(100% - 40px) calc(100% + 30px), 50%;
}