/* VARIABLES --------------------------------------------------- */

:root {
  --color-primary: #278da4;
  --color-bg: #3acec2;
  --color-bg-light: #009fe1;

  --gradient: var(--color-bg-light),
              var(--color-bg);

  --font-stack-primary: 'Raleway', sans-serif;
  --font-stack-secondary: 'Bree Serif', serif;

  --max-width: 1000px;
  --spacing: 2;
}

/* BASE STYLES ------------------------------------------------- */

body {
  font-family: var(--font-stack-primary);
}

h1,
h2 {
  font-family: var(--font-stack-secondary);
}

a,
h2 {
  color: var(--color-primary);
}

header {
  background: linear-gradient(var(--gradient)),
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  margin-bottom: calc(var(--spacing) * 1em); /* 2em */
}

/* COMPONENT STYLES ----------------------------------------------- */

.main-nav li {
  margin: 0 calc(var(--spacing) * 10px); /* 20px */
}

.btn {
  font-size: var(--btn-font-size, 0.85em);
  color: var(--btn-color, #fff);
  background-color: var(--btn-bg, #60a4b3);
}

/* MEDIA QUERIES -------------------------------------------------- */

@media (min-width: 768px) {
  .main-content {
    max-width: var(--max-width);
  }
}
